// Definición de variables

// Definición de la variable utilizando notación de mapa

$estilos-items-img: (
  max-width: 100%,
  height: 350px,
  display: flex,
  flex-wrap: wrap,
  align-items: center,
  justify-content: center,
  margin: auto,
  border: 3px solid transparent, /* Borde transparente por defecto */
  transition: border-color 0.3s ease-in-out, /* Aplica una transición suave al color del borde */
  
  // Estilos para el hover
  '&:hover': (
    border-color: black
  )
);


.photo-grid-indumentaria {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 100px;
    
  img {
    @include map-get($estilos-items-img, max-width);
    @include map-get($estilos-items-img, height);
    @include map-get($estilos-items-img, display);
    @include map-get($estilos-items-img, flex-wrap);
    @include map-get($estilos-items-img, align-items);
    @include map-get($estilos-items-img, justify-content);
    @include map-get($estilos-items-img, margin);
    @include map-get($estilos-items-img, border);
    @include map-get($estilos-items-img, transition);
    @include map-get(map-get($estilos-items-img, '&'), border-color);
  }
}